@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}
:root{
    font-size: 62.5%;
    
    
}
body{  
    background-color: #121214;
    padding: 7.2rem 10.4rem;
    display: grid;
    justify-content: center;
    font-size: 1.6rem;
}

header h1{
    font-size: 5.6rem;
    color: #02799D;
    font-weight: 900;
    line-height: 72px;
}
header p{
    font-size: 3.2rem;
    color: #E1E1E6;
    font-weight: 600;
    line-height: 40px;
}
main{
   
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 4.8rem 6rem;
    margin-top: 6.2rem;
    
}
.card{   
    background-color: #202024;
    border: 2px solid #323238;
    border-radius: 8px;
    overflow: hidden;
}
.card h2{
    font-size: 3.6rem;   
    color: #E1E1E6;
    font-weight: 900;
    padding: 2.4rem 3.2rem 0px;
}
.card p{
    padding: 2.4rem 3.2rem 3.2rem;
    font-size: 1.8rem;
    color: #C4C4CC;
    font-weight: 600;
}
/* Estilos para telas menores ou iguais a 425px */
@media screen and (min-width: 375px) and (max-width: 425px){
    /* Seus estilos aqui */
    body{
        padding: 3rem;
    }
    header{
        text-align: center;
    }
    header h1{
        font-size: 3.3rem;
        line-height: 32px;
        color: brown;
        
    }
    header p{
        font-size: 1.8rem;
        line-height: 30px;
    }
   main{
    margin-top: 3rem;
    grid-template-columns: 1fr;
   }
   .card h2{
    font-size: 2.5rem;
   }
   
   
  }
  
  /* Estilos para telas entre 426px e 768px */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Seus estilos aqui */
    header{
        text-align: center;
    }
    header h1{
        font-size: 4rem;
        line-height: 30px;
    }
    header p{
        font-size: 2rem;
    }
    main{
        grid-template-columns:1fr;
    }
    .card img{
        width: 100%;
        max-width: 100%;

    }
    .card h2{
        font-size: 3rem;
    }
    
  }
  
  /* Estilos para telas maiores que 768px */
  @media screen and (min-width: 1025px) {
    /* Seus estilos aqui */
    
  }